body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: gray;
    text-decoration: underline;
}
span{
    color: red;
}
li{
    list-style-type: upper-roman;
}
p{
    font-style: italic;
}