
aside{
    display: flex block;
    float: left;
    margin-left: 5%;
}

aside div{
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
}

aside .Foto_perfil{
    text-align: center;
}

aside p {
    text-align: center;
    color: #8A8070;
    
}

aside section{
    background-color:whitesmoke ;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

aside section .apuntar{
  background-color: #7ABA96;
  color: black;
  font-weight: bold;
  height: 50%;
}

.parte_arriba{
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.parte_arriba p:nth-child(4) {
    margin-left: 14%;    
    width: 70%;
    text-align: justify;
    font-size: 20px;
}

.parte_arriba p:nth-child(2){
    color: black;
    width: 55%;
    margin-left: 22%;   
    font-size: 25px;
    font-weight: bold;
}

.receta_pasta div{
    border-top: double; 
    border-bottom: double;
    margin-left: 14%;
    margin-right: 14%;
    border-color: #7ABA96;
    font-size: 18px;
}

.receta_galleta div{
    border-top: double; 
    border-bottom: double;
    margin-left: 14%;
    margin-right: 14%;
    border-color: #7ABA96;
    font-size: 18px;
}

.parte_abajo{
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10%;
}


.parte_abajo p:nth-child(4) {
    margin-left: 14%;    
    width: 75%;
    text-align: justify;
    font-size: 20px;
}

.parte_abajo p:nth-child(2){
    color: black;
    width: 55%;
    margin-left: 22%;   
    font-size: 25px;
    font-weight: bold;
}

.receta_mijo div{
    border-top: double; 
    border-bottom: double;
    margin-left: 14%;
    margin-right: 14%;
    border-color: #7ABA96;
    font-size: 18px;
}

.receta_rellenos div{
    border-top: double; 
    border-bottom: double;
    margin-left: 14%;
    margin-right: 14%;
    border-color: #7ABA96;
    font-size: 18px;
}